<section class="orders-show">

  <header class="page-header">
 <h2 align="center" style="font-size: 30px; font-weight: 800; line-height: 36px; color: #333333; margin: 0;"> Thank You For Your Order! </h2>
<p align="center" style="font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 25px;"> <img src="https://img.icons8.com/carbon-copy/100/000000/checked-checkbox.png" width="125" height="120" style="display: block; border: 0px;" /><br>
  </header>

  <div class="order-summary jumbotron">
<table class="table table-bordered">
      <thead>
        <tr>
        <th colspan="2" width="75%" align="left" bgcolor="#eeeeee" style="font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px;"> Order #<%= @order.id %> Confirmation</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>

<% @order_list.each do |item| %>
       <%= render 'item', product: item.product, quantity: item.quantity%>
         <% end %>

      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
           <%= humanized_money_with_symbol @order.total_cents/100.0 %>
          </th>
        </tr>
      </tfoot>
    </table>
    <h4><%=@order.email%></h4>


  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
